.overview_section {
    background-color: #D1C4A4;
    display: flex;
    align-items: start;
}

.left_overview img {
    min-width: 240px;
    max-width: 280px;
    height: auto;
    padding: 10px;
}

.left_overview {
    margin-left: 3rem;
    position: relative;
}

.right_overview {
    padding: 10px;
    margin-left: 1rem;
    max-width: 680px;
}

.aboutme_section {
    background-color: #D0C8B1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: start; */
}

.aboutme_text {
    display: flex;
    justify-content: start;
}

.experience_section {
    background-color: #D1C4A4;
    padding: 10px;
}

.experience_content {
    margin-left: 3rem;
}

.carousel_content h3 {
    font-size: 26px;
    font-weight: bold;
    color: blanchedalmond;
}

.carousel_content p {
    font-size: 20px;
    color: bisque;
}

.proficiencies_section {
    background-color: #D0C8B1;
    padding: 10px;
}

.proficiencies_section h2 {
    margin-left: 3rem;
}

.proficiencies_content {
    margin-left: 3rem;
    display: flex;
}

.proficiencies_left_section {
    width: 40%;
}

.progress-bar {
    margin-bottom: 1rem;
}

.proficiencies_right_section {
    margin-left: 3rem;
}

.secondary_skills {
    display: flex;
    align-items: center;
}

.secondary_skills p {
    margin-left: 1rem;
}

.contact_section {
    background-color: #D1C4A4;
    padding: 10px;
}

.contact_content {
    margin-left: 3rem;
    /* display: flex; */
}

/* .contact_content a {
    display: block;
    max-width: 50px;
} */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact_content img {
    margin-left: 1rem;
    margin-right: 10px;
}